@import url('https://fonts.googleapis.com/css2?family=Fraunces&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    color: #ffffff;
}
.wrapper {
    width: 100%;
    height: 100vh;
    background: url("https://storge.pic2.me/upload/268/58584060abc9f.jpg") center / cover no-repeat;
}


.main-content {
    text-align: center;
    width: 50%;
    height: 100%;
    padding-top: 150px;
    margin: auto;
}

h1 {
    font-size: 45px;
    line-height: 80px;
    font-family: 'Montserrat', sans-serif;;
}
p {
    color: #ffffff;
    font-weight: 800;
    margin-bottom: 30px;
    font-family: 'Fraunces', serif;
}
input {
    width: 28%;
    height: 40px;
}
.btn {
    padding: 12px;
    color: #ffffff;
    background-color: #032329b9;
    border: none;
}